/* RESET */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* BODY */
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #111;
}

.logo {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

/* NAV LINKS */
.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  position: relative;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}

/* DROPDOWN */
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #222;
  top: 100%;
  left: 0;
  min-width: 150px;
}

.dropdown-menu li a {
  padding: 10px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* HERO SECTION */
.hero {
  height: 80vh;
  background-image: url("hero.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 30px;
  text-align: center;
}

.hero-text h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 18px;
}
